<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/prac.css">
</head>
<body>
<h1>porsche 911 gt3</h1>
<p>The 911 GT3 with Touring Package is no less performance focused. With manual transmission, it passes the
    100km/h mark in just 3.9 seconds, with a maximum speed ...</p>
<img class="tall" src="images/HD+ high resolution 4k wallpaper of car free download for iphone and Android.jpeg" height="1308"
        width="736"/>MY MACHINES
<hr>
<h1>Ford mustang</h1>
    Jan 2017</p>
<p>How much is a Ford mustang Walk 458? update (Sold): Justin Bieber's Liberty Walk Ferrari 458 Up ...
    At the Barrett-Jackson Scottsdale 2017 event, Justin Bieber's Liberty Walk Ferrari 458 Italia sold for $434,500.23
    Jan 2017</p>
<img class="tall" src="images/971dbf5f-e7ec-4238-8097-94e55bbaf2a2.jpeg" height="1143" width="643"/>

<hr>
<h1>images/LibertyWalk Ferrari 458 Italia </h1>
<p>How much is a Ferrari Liberty Walk 458? update (Sold): Justin Bieber's Liberty Walk Ferrari 458 Up ...
    At the Barrett-Jackson Scottsdale 2017 event, Justin Bieber's Liberty Walk Ferrari 458 Italia sold for $434,500.23
    Jan 2017</p>
<img class="tall" src="images/LibertyWalk Ferrari 458 Italia (via).jpeg" height="682" width="450"/>
<hr>
<h1>Dodge Demon</h1>
<p>
    What's so special about the Dodge Demon? <br><br>
    The Most Powerful Muscle Car in The World: 1,025 Horsepower ...
    With its 1,025 horsepower (at 6,500 rpm), 945 lb. -ft. (at 4,200 rpm) production HEMI® engine, the Dodge
    Challenger SRT Demon 170 reaches 60 miles per hour (mph) in a blazing 1.66 seconds and features
    the highest g-force acceleration of any production car at 2.004 gs.20 Mar 2023
</p>
<img class="tall" src="images/The Demon Within_ Dodge Challenger SRT Hellcat.jpeg" height="1308" width="736"/>


</body>
</html>